src/main/mule/send-xlsx.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8324a600-c6a3-4a0b-9e39-cefa92739767" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="send-xlsxFlow" doc:id="4db391f0-8578-4588-a39c-ed58d9f1246d" >
		<http:listener doc:name="Listener" doc:id="4587db53-e9ec-4760-a649-26ec27c6cd90" config-ref="HTTP_Listener_config" path="send-xlsx"/>
		<set-variable value="#[attributes.queryParams.format]" doc:name="Set querry parameter as variable" doc:id="fb118bee-88b7-4a6e-b25e-7661517a5074" variableName="queryParamDataFormat"/>
		<set-variable value="#[attributes.headers.'content-type']" doc:name="Save header content type as Variable" doc:id="5369c0d2-3a1c-47a3-b6a5-2ca6bf472b51" variableName="headerDataFormat"/>
		<ee:transform doc:name="data format to be returned" doc:id="7b568657-9010-4890-8318-a45313a30395" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
  if (isEmpty(vars.queryParamDataFormat) == true)
   splitBy(vars.headerDataFormat, '/')[1]
else
   vars.queryParamDataFormat
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requested_format" ><![CDATA[%dw 2.0
output application/java
---
  if (isEmpty(vars.queryParamDataFormat) == true)
   splitBy(vars.headerDataFormat, '/')[1]
else
   vars.queryParamDataFormat
]]></ee:set-variable>
				<ee:set-variable variableName="requested_format " ><![CDATA[%dw 2.0
output application/json
---
 if (isEmpty(vars.queryParamDataFormat) == true)
   splitBy(vars.headerDataFormat, '/')[1]
else
   vars.queryParamDataFormat
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read xlsx data" doc:id="6bd4a993-946c-44f1-9732-d7bbd19c1c45" path="C:\Softwares\Mulesoft Training\airports.xlsx" outputMimeType="application/xlsx"/>
		<choice doc:name="Choice" doc:id="5825a384-ad52-4ae1-941d-f6507816f79c" >
			<when expression="#[vars.requested_format == 'csv']">
				<ee:transform doc:name="Transform Message" doc:id="c778677a-2f68-4b9f-a265-de4c57df7088" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'xml']">
				<ee:transform doc:name="Transform Message" doc:id="d159ef31-012c-407c-917f-be132d4c60fa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	'airports':
	    {
	    	"data": payload.airports
	    }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'json']">
				<ee:transform doc:name="Transform Message" doc:id="5e455238-ca41-44dd-aba4-a285a257c49f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[isEmpty(vars.requested_format)]">
				<ee:transform doc:name="Transform Message" doc:id="2a9241dd-587f-498f-8ff6-97e3e8fb890b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="ec4528f9-f90a-419a-98c3-4ea2ef4c77f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"message": vars.requested_format default " " ++ " is not supported data format!"
   }
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
